SILICONFLOW_API_KEY=
DASHSCOPE_API_KEY=
OPENROUTER_API_KEY=
MCP_API_KEY=
MCP_MODEL_PROVIDER=deepseek
MCP_MODEL_NAME=deepseek-chat
MCP_HEADLESS=false
BAIDU_MAP_API_KEY=
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_ENDPOINT=oss-cn-beijing.aliyuncs.com
OSS_BUCKET=
