numpy==1.24.3
opencv-python==4.10.0.84
PyAudio==0.2.14
webrtcvad==2.0.10
requests==2.31.0
SpeechRecognition==3.10.1
pygame==2.6.1
edge-tts==6.1.17
langid==1.1.6
langdetect==1.0.9
soundfile==0.12.1
scipy==1.12.0
